{% extends "base.html" %}

{% block title %}Add Item{% endblock %}

{% block content %}


<div class="login_register_form options">
    <h1>Add Item</h1>
    <br>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post" action="/add">
       
       
        <select class="form_input" name="name">
            <option value="">Select a book</option>
                {% for l in lis %}
                <option value="{{l[0]}}">{{l[0].capitalize()}}</option>
                {%  endfor%}
          </select>
          <br>


        <!--<p>
        <input type="text" class="form_input" name="name" placeholder="Name of the book" autocomplete="off" required>
    </p>-->
    <br>
        <p>
        <input type="number" class="form_input" min="1" max="10" name="quantity" placeholder="1" autocomplete="off" required>
    </p>
    <br>
        <button type="submit" class="login_btn" id="add_btn">Add Item</button>
    </form>

    <br>

    <a href="/inventory" id="back_btn">↯</a>
</div>
    {% endblock %}
