{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block content %}
    
 


    <div class="login_register_form" style="left: 40%;">
        <h1>Login Form</h1>
        <br>
        <form method="post">
            <div class="inp_and_btn">
            <p>
            <input type="text" name="username" class="form_input" placeholder="Username"  id="input" autocomplete="off"  required>
            </p>
            <p>
            <input type="password" name="password" class="form_input" placeholder="Password" autocomplete="off" required>
            </p>   
  
            {% if error %} 
                <p class="error">{{error}}</p>
            {% endif %}
            <p>
            <button type="submit" class="login_btn">Login</button>
        </p>
        </form>
    <p style="color: #FFF6C3;">Don't have an account? <a href="/register">Register</a></p>
</div>
    <p style="color: #FFF6C3;"> Login as admin? <a href="/admin">Admin Login</a></p>

</div>
{% endblock %}
