{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}


<div class="login_register_form" style="left: 40%;">
    <h1>Registration Form</h1>
    
<br>
    <form method="post" action="/register">
        <p>
        <input type="text" name="username" autocomplete="off" class="form_input" placeholder="Username" required>
        </p>
        <p>
        <input type="password" name="password" autocomplete="off" class="form_input" placeholder="Password" required>
        </p>
        <p>
        <input type="password" name="confirm_password" class="form_input" placeholder="Confirm Password" required>
        </p>
  
        {% if error %}
        <p class="error" >{{ error }}</p>
    {% endif %}
        <button type="submit" class="login_btn" >Register</button>
    </form>

   
    <br>
    <p style="color: #FFF6C3;">Already have an account? <a href="/login">Login</a></p>


</div> 
{% endblock %}
